.login-text{
  margin-top: 20vh;
  text-transform:uppercase;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #9599AA;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #2ACBC4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s transform ease-in;
}

button:hover {
  transform: scale(0.96);
}
.welcome-text{
  color: #9599AA;
  font-weight: 400;
}
.login-form{
  margin-top: 8vh;
}
.login-page-right{
  display: flex;
  flex-direction: column;

  padding: 5vw;
  height: 100%;
  width: 40%;
}
#login-username{
  padding: 10px;
  border: 1px solid #9599AA;
  border-radius: 7px;
}
#login-password{
  padding: 10px;
  border: 1px solid #9599AA;
  border-radius: 7px;
}
.btn-forgot-password{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.welcome-text{
  font-size: 11px;
}
.forgot-password{
  font-size: 11px;
  color: #2ACBC4;
}

a{
  text-decoration: none;
  
}
input::placeholder {
  font-size: 11px;
}
.login-btn{
  height: 40px;
}