
  .grid-container {
    display: grid;
    background-color: #fff;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 10px;
    width: 100%;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 8px;
    /* gap: 10px; */
  }
.grid-item{
  text-align: center;
}