.campaign-page {
    margin-top: 70px;
}

.grid-container-campaign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.campaign-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-description {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}

.grid-child-right {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: auto;
    margin-right: auto;
}

.payment-button{
    float: none;
}