.login-page {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
}

.login-image-container{
  width: 60%;
  height: 100%;
}
.login-image-container img{
  width: 100%;
  height: 100%;
}
.create-account{
  margin-top: 30px;
  font-size: 11px;
}
