nav{
  background-color: #2ACBC4;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#img-logo{
  height: 10vh;
}
#search-bar{
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 10vw;
}
#logo-container{
  display: flex;
  align-items: center;
}
.nav-links{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#profile{
  position: relative;
}
#profile-container{
  padding: 10px;
}
.dropdown{
  color: black;
  position: absolute;
  top: 180%;
  left: -10px;
  display: none;
}
.show{
  display: block;
}
.dropdown-options{
  padding: 10px;
  background-color: rgb(148, 234, 148);
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}