.navbar-component{
  padding: 3vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: 1000;
}
.nav-links-container{
  margin-left: auto;
  display: flex;
  gap: 3vw;
}
#img-logo-text{
  height: 45px;
}
#logo-img{
  height: 100px;
}
#img-logo-spacer{
  height: 54px;
}
#search-bar{
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 10vw;
}
#logo-container{
  display: flex;
  align-items: center;
}
.nav-links{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}
#profile{
  position: relative;
}
#profile-container{
  padding: 10px;
}
.dropdown{
  color: black;
  position: absolute;
  top: 180%;
  left: -10px;
  display: none;
}
.show{
  display: block;
}
.dropdown-options{
  padding: 10px;
  background-color: rgb(148, 234, 148);
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}