body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: url("../../assets/c5cb4258-b6e7-4fa2-b775-c4cb9735d220.png"); */
    background-repeat: no-repeat;
    background-size: cover;   
    background-size: 100% auto; /* or background-size: cover; */
    background-position: 0px;
    backdrop-filter: blur(2px);
  
  }
  html {
    margin: 0px;
    padding: 0px;
  }
  
  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
  
  .navbar-container {
           background-color: #06D6A0;
  }

  .navbar-text {
    color: #ffffff;
  }
  

  .navbar-brand {
    position: relative;
    margin-left: auto;
    /* text-align: center; */
    /* width: 0%; */
  }
  
  /* Flexbox styles to align links in the Navbar */
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-link {
    padding-right: 10px; /* Adjust spacing between links as needed */
  }
  
  .stats-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
  }
  
    /* search -container */
  
  .search-container {
    display: flex;
    top: 100px;
    left: 400px;
    width: 500px;
    
  }


  .dive_button {
    
    width: 300px;
    background-color: #EF476F;
    color: #ffffff;
}


  
  .search-box {
    /* width: 500px; */
    /* height: 0px; */
    
  }
  
  .search-icon {
    display: flex;
    width: 50px;
    height: 40px;
    margin-left: 40px;
    ;
    
  }
  
  .grid-items {
    background-color: #ddd;
    /* padding: 20px; */
    text-align: center;
    border: 1px solid black;
  
  } 

  
  .team-names {
    font-size: 12px;
  }
  
  .logo {
    display: flex;
    justify-content: left;
    height: 140px;
    /* width: 215px; */
    padding: 0px;
    margin-left: 50px;
  }
  
  .footer-brand {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
  }
  
  .social-container {
    position: relative;;
    /* justify-content: left; */
    /* align-items: left; */
    /* margin-right: 200px; */
    right: 120px;
    top: 20px;
    display: flex;
    gap: 5px;
    
  }
  
  .icon {
    font-size: 30px;
    position: relative;
    top: 40px;
    left: -190px;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 40px;
  }

  .footer-list > h6,h5 {
    color: white;
  }

  .navbar_logo {
    display: flex;
    width: 300px;
    height: 100px;
  }
  .home-page{
    width: 100%;
    height: 100%;
    overflow: hidden;

  }
  .hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  #home-page-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;

  }

  .how-it-works {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .steps-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .step {
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .step img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }
  
  .step h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .step p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .step a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  .developers {
    padding: 50px;
    text-align: center;
  }
  
  .developer-photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .developer-photos img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .browse-campaigns {
    padding: 50px;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent cards from wrapping */
    scroll-snap-type: x mandatory; /* Enable scroll snapping for smooth transitions */
    scroll-padding: 10px; /* Add padding on both ends to avoid abrupt scroll stops */
  }
  
  .card {
    width: 300px; /* Adjust card width based on content */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 0 5px; /* Add slight margin for scroll snapping effect */
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    margin-top: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card p {
    line-height: 1.5;
  }
  
  .progress-bar {
    background-color: #ddd;
    height: 5px;
    margin-bottom: 10px;
  }
  
  .progress-bar span {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
    line-height: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  .btn-secondary {
    background-color: #ddd;
    color: #333;
  }
  