footer{
  

}
.footer-container{
  display: flex;
  width: 100%;
  padding: 2vw;
  justify-content: space-around;
  background-color: #06D6A0;
}
.social-container{
  display: flex;
  flex-direction: column;
}
.footer-logo{
  width: 100px;
  height: 25px;
  object-fit: contain;
}
.social-icons{
display: flex;
flex-direction: column;
}
.icon-text{
  margin-left: 10px;
}
.quick-links{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.pledge-pilot-footer-logo{
  flex: 1;
}
.connect-container{
  flex: 1;
}
.copyright-text{
  text-align: center;
  color: #fff;
}
.copyright-container{
  background-color: #092902;
}
.copyright-text a{
  color: #EF476F;
}