.payment-box {
  width: max-content;
  height: max-content;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 5px 10px 5px rgb(146, 146, 146);
  padding: 20px;
  text-align: center;
}

.amount-box {
  padding: 5px;
}

.amount-input {
  text-align: center;
}

.donate-button {
  background-color: #EF476F;
  color: #ffffff;
  font-size: medium;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.redirect-button {
  background-color: #EF476F;
  color: #ffffff;
  font-size: medium;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

small {
  color: #a29c9c;
  font-size: x-small;
  
}
